<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Admin</title>
</head>

<body>
  <div align="center">
    <img src="/images/FGW_logo_d.jpg" alt="logo">
  </div>
  <br><br>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-danger my-2 my-lg-0" onclick="window.location='/users/logout';">Logout</button>
  </nav>
  <br><br>
  <div class="d-flex justify-content-between">
    <div style="width: 30%" class="border rounded">
      <ul class="nav nav-pills nav-fill flex-column" style="margin: 20px;">
        <li class="nav-item">
          <a class="nav-link" href="/users/staff/home">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/staff/list_all_trainer">Trainer Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/staff/list_all_trainee">Trainee Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/staff/list_all_topic">Topic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/staff/list_all_course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/users/staff/list_all_courseCategory">Course Category</a>
        </li>
      </ul>
    </div>
    <div class="border rounded" style="width: 68%;">
      {{!-- <div class="d-flex flex-row-reverse">
        <div style="padding-top: 20px; padding-right: 20px">
          <button type="button" class="btn btn-success">Add more user</button>
        </div>
      </div> --}}
      <div style="padding: 20px;">
        <form action="/users/staff/update_courseCategory" method="POST" enctype="application/x-www-form-urlencoded">
          <div class="form-group">
            <label for="usr">Course Category Name: <b>{{data.name}}</b></label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="pwd">Course Category Description: <b>{{data.desc}}</b></label>
            <input type="text" class="form-control" id="desc" name="desc">
          </div>
          <input type="hidden" name="_id" value="{{data._id}}">
          <input type="hidden" name="_method" value="PUT">
          <hr>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
